<div id="contenidoGeneral">
<div id="txtHeadRed"><h1>Articulo Nuevo</h1></div>
<div id="txtAutor">
<% form_for(@articulo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :autor %><br />
    <%= f.text_field :autor %>
  </p>
  <p>
    <%= f.label :contenido %><br />
    <%= f.text_area :contenido %>
  </p>
  <p>
    <%= f.label :fecha %><br />
    <%= f.datetime_select :fecha %>
  </p>
  <p>
    <%= f.label :seccion %><br />
    <%= f.collection_select(:seccion_id, Seccion.all, :id, :nombre) %>
  </p>
  <p>
    <%= f.submit "Crear Articulo" %>
  </p>
<% end %>

<%= link_to 'Regresar', articulos_path %>
<%= link_to 'Regresar a Menu', publico_path %>
</div>
</div>